{% if page.image.feature %}
  {% include head.html %}
  <section class="article">
  <div class="overlay">
    {% if page.image.feature_credit %}
      <div class='credit' style='position: absolute;bottom: 5px; right: 5px; color: white; opacity: 0.3'>
        <a href="{{ page.image.feature_credit.link }}" style='color: white'>
          <em>{{ page.image.feature_credit.title }}</em>
          by {{ page.image.feature_credit.author }}</a>
      </div>
    {% endif %}
  </div>
  <div class="featured-image" style="background-image: url({{ site.baseurl }}/images/{{ page.image.feature }})">
  </div>
{% else %}
  {% include head-dark.html %}
  <section class="article pad-top">
{% endif %}

{% include post-body.html %}
{% if page.tags contains 'reading-list' %}
  {% include reading-list-nav.html %}
{% endif %}

</section>

{% include footer.html %}
